@using WebEncantadas;
@using WebEncantadas.Data.Context;
@using System.Configuration;
@using System.Data.SqlClient;



@{
    ViewData["Title"] = "Ingresso";
}

@{
    var connection = ConnectionManager.GetConnection();
    connection.Open();
    var command = new SqlCommand("SELECT valor_cadeira FROM dbo.reserva_ingressos WHERE id = 1", connection);
    decimal valor_cadeira = 0;
    var reader = command.ExecuteReader();
     if (reader.Read())
    {
        valor_cadeira = reader.GetDecimal(0); // valor da mesa
        // use a variável valor para exibir o valor na sua página HTML
    }
}




<head>
        <link rel="stylesheet" href="~/css/style_Reserve.css" />
</head>

<style>
        #mesa_circular2{
            background-color: #FFFFFF;
            border: 2px solid black;
            height: 14rem;
            width: 14rem;
            border-radius: 118px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 3rem;
        }

          #mesa_circular3{
            background-color: #FFFFFF;
            border: 2px solid black;
            height: 14rem;
            width: 14rem;
            border-radius: 118px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 1rem;
        }

          #mesa_circular4  {
            background-color: #FFFFFF;
            border: 2px solid black;
            height: 14rem;
            width: 14rem;
            border-radius: 118px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 3rem;
           
        }

        .divisao_1{
            display: flex;
            flex-direction: column;
            margin-left: 4rem;
        }

         .divisao_2{
            display:flex;
            flex-direction: column;
            margin-left: 4rem;
        }
</style>

 <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>

<h1>Reserva de ingressos</h1>

<div class="salaoMesas">

    <div class="divisao_1" >
          <div id="mesa_circular">
            @for (int i = 1; i <= 8; i++){
                    <button id="cadeira-@i" class="assento-@i cadeira" onclick="cadeiraSelecionada(this)">@i</button>
            }
        </div>

        <div id="mesa_circular2">
        @for (int i = 1; i <= 8; i++){
                <button id="cadeira-@i" class="assento-@i cadeira" onclick="cadeiraSelecionada(this)">@i</button>
        }
        </div>
    </div>
      
    <div class="divisao_2">
             <div id="mesa_circular3">
            @for (int i = 1; i <= 8; i++){
                    <button id="cadeira-@i" class="assento-@i cadeira" onclick="cadeiraSelecionada(this)">@i</button>
            }
        </div>

           <div id="mesa_circular4">
            @for (int i = 1; i <= 8; i++){
                    <button id="cadeira-@i" class="assento-@i cadeira" onclick="cadeiraSelecionada(this)">@i</button>
            }
        </div>
    </div>

    <div>
        <div>
            Valor total:
             <span id="totalCompra"></span>

             
        </div>
    </div>
</div>

<p>O valor da mesa é @valor_cadeira.</p>


<script>


   function cadeiraSelecionada(botao) {      
        botao.classList.toggle("selecionada"); // faz com que adicione class "selecionada" caso a mesma não exista. Caso clicar no botão de novo e a class "selecionada" existir, eu removo ela.
         atualizarValorTotal();
   }
   
   function atualizarValorTotal() {
        var numero_deCadeiras = $('.cadeira.selecionada').length; // obtém o número de cadeiras selecionadas
        $.ajax({
            url: '@Url.Action("CalcularValorTotal", "Pagamento")',
            data: { numero_deCadeiras: numero_deCadeiras },
            success: function (data) {
                $('#totalCompra').html('R$ ' + data); // atualiza o valor total na tela
            }
        });
    }

    $(function () {
        atualizarValorTotal(); // atualiza o valor total na página carregada
    });

</script>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


