@using WebEncantadas;
@using System.Configuration;
@using System.Data.SqlClient;
@using WebEncantadas.Models.Entities
@model Mesas

@{
    ViewData["Title"] = "Ingresso";
}


<head>
    <link rel="stylesheet" href="~/css/style_Reserve.css" />
</head>

<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>

<h1>Reserva de ingressos</h1>

<div class="salaoMesas">

    <div class="divisao_1">
        <div id="mesa_circular">
            @for (int i = 1; i <= 8; i++)
            {
                // caso esteja já reservado, meu botão fica desabilitado
                if (@Model.Mesa1[i - 1].cadeira_reservada == 1)
                {
                    <button id="cadeira-@i" disabled class="assento-@i cadeira" onclick="cadeiraSelecionada(this)" data-num-mesa="1">@i</button>
                }
                else
                {
                    <button id="cadeira-@i" class="assento-@i cadeira" onclick="cadeiraSelecionada(this)" data-num-mesa="1">@i</button>
                }
            }
        </div>

        <div id="mesa_circular2">
            @for (int i = 1; i <= 8; i++)
            {
                if (@Model.Mesa2[i -1].cadeira_reservada == 1)
                {
                         <button id="cadeira-@i"  disabled class="assento-@i cadeira" onclick="cadeiraSelecionada(this)" data-num-mesa="2">@i</button>
                }
                else
                {
                         <button id="cadeira-@i" class="assento-@i cadeira" onclick="cadeiraSelecionada(this)" data-num-mesa="2">@i</button>
                }
           
            }
        </div>
    </div>

    <div class="divisao_2">
        <div id="mesa_circular3">
            @for (int i = 1; i <= 8; i++)
            {
                if (@Model.Mesa3[i -1].cadeira_reservada == 1)
                {
                       <button id="cadeira-@i" disabled class="assento-@i cadeira" onclick="cadeiraSelecionada(this)" data-num-mesa="3">@i</button>
                }
                else
                {
                       <button id="cadeira-@i" class="assento-@i cadeira" onclick="cadeiraSelecionada(this)" data-num-mesa="3">@i</button>
                }
             
            }
        </div>

        <div id="mesa_circular4">
            @for (int i = 1; i <= 8; i++)
            {
                if (@Model.Mesa4[i -1].cadeira_reservada == 1)
                {
                      <button id="cadeira-@i" disabled class="assento-@i cadeira" onclick="cadeiraSelecionada(this)" data-num-mesa="4">@i</button>
                }
                else
                {
                      <button id="cadeira-@i" class="assento-@i cadeira" onclick="cadeiraSelecionada(this)" data-num-mesa="4">@i</button>
                }
              
            }
        </div>
    </div>

    <div>
        <div>
            Valor total:
            <span id="totalCompra"></span>


        </div>
    </div>
</div>

<p>O valor da mesa é @Model.Mesa1[0].valor_cadeira</p>


<script>


    function cadeiraSelecionada(botao) {
         botao.classList.toggle("selecionada"); // faz com que adicione class "selecionada" caso a mesma não exista. Caso clicar no botão de novo e a class "selecionada" existir, eu removo ela.
          atualizarValorTotal();
    }

    function atualizarValorTotal() {
         var numero_deCadeiras = $('.cadeira.selecionada').length; // obtém o número de cadeiras selecionadas
         $.ajax({
             url: '@Url.Action("CalcularValorTotal", "Pagamento")',
             data: { numero_deCadeiras: numero_deCadeiras },
             success: function (data) {
                 $('#totalCompra').html('R$ ' + data); // atualiza o valor total na tela
             }
         });
     }

     $(function () {
         atualizarValorTotal(); // atualiza o valor total na página carregada
     });

</script>


@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}


